{% extends 'scheduling_app/base_template.html' %} 
{% block content %} 
    <h1>Workshift List</h1>
    <div class="row">
        {% if workshift_list %}
            {% for workshift in workshift_list %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ workshift.get_absolute_url }}">Workshift: {{workshift.employee}}, {{workshift.day_shift}}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no workshifts created.</p>
        {% endif %}
    </div>
    <a class="custom-button" href="{% url 'create_workshift' %}" role="button">Create Workshift</a>
{% endblock %}